kfs-web/src/main/webapp/static/xsd/purap/b2bPunchOutOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
   - The Kuali Financial System, a comprehensive financial management system for higher education.
   - 
   - Copyright 2005-2014 The Kuali Foundation
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
    
<xsd:schema elementFormDefault="qualified"
		    targetNamespace="http://www.kuali.org/kfs/purap/b2bPunchOutOrder"
		    xmlns="http://www.kuali.org/kfs/purap/b2bPunchOutOrder" 
		    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		    
<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd" />

<!-- Simple Data Types from purapTypes.xsd -->

    <xsd:simpleType name="domainType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="DUNS|NetworkId|AribaNetworkUserId"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="dunsNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="amountType">
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="currencyType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="catalogNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="auxiliaryIDType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="300"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="itemDescriptionType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="statusCodeType">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="statusTextType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="uomType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

<!-- Simple Data Types from types.xsd -->

    <xsd:simpleType name="zeroToThirtyCharType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="oneToTwentyOneCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="21"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="zeroToFiftyFiveCharType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="55"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="zeroToNinetyCharType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="90"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="zeroToTwentyCharType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>

<!-- Original Schema -->

<xsd:element name="Credential">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="Identity" type="dunsNumberType" />
			<xsd:element name="SharedSecret" minOccurs="0" maxOccurs="1" type="xsd:string" /> <!-- Not used -->
		</xsd:sequence>
		<xsd:attribute name="domain" type="domainType" use="required" />
	</xsd:complexType>
</xsd:element>
  
<xsd:element name="Money" default="0">
	<xsd:complexType>
		<xsd:simpleContent>
			<xsd:extension base="amountType">
				<xsd:attribute name="currency" type="currencyType" use="required" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:element>

<xsd:element name="ItemID">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="SupplierPartID" type="catalogNumberType" />
			<xsd:element name="SupplierPartAuxiliaryID" type="auxiliaryIDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="UnitPrice">
 	<xsd:complexType>
 		<xsd:sequence>
 			<xsd:element ref="Money" />
 		</xsd:sequence>
 	</xsd:complexType>
</xsd:element>

<xsd:element name="Description">
 	<xsd:complexType>
 		<xsd:simpleContent>
            <xsd:extension base="itemDescriptionType">
 				<xsd:attribute ref="xml:lang" use="required" />
 			</xsd:extension>
 		</xsd:simpleContent>
 	</xsd:complexType>
</xsd:element>

<xsd:element name="Extrinsic">
 	<xsd:complexType>
 		<xsd:simpleContent>
            <xsd:extension base="zeroToThirtyCharType">
                <xsd:attribute name="name" type="oneToTwentyOneCharType" />
 			</xsd:extension>
 		</xsd:simpleContent>
 	</xsd:complexType>
</xsd:element>
     						    
<xsd:element name="cXML">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="Header">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="From">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Credential" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="To">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Credential" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Sender">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="Credential" />
									<xsd:element name="UserAgent" type="xsd:string" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element> <!-- Header -->
			<xsd:element name="Message">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Status">
						  <xsd:complexType>
						  	<xsd:simpleContent>
						  		<xsd:extension base="xsd:string">
									<xsd:attribute name="code" type="statusCodeType" />
									<xsd:attribute name="text" type="statusTextType" />
						  		</xsd:extension>
						  	</xsd:simpleContent>
						  </xsd:complexType>
						</xsd:element> <!-- Status -->
						<xsd:element name="PunchOutOrderMessage">
							<xsd:complexType>
						  		<xsd:sequence>
						  			<xsd:element name="BuyerCookie" type="xsd:string"/> <!-- Not used -->
						  			<xsd:element name="PunchOutOrderMessageHeader">
						  				<xsd:complexType>
						  					<xsd:sequence>
										  		<xsd:element name="Total">
										  			<xsd:complexType>
									  					<xsd:sequence>
									  						<xsd:element ref="Money" />
									  					</xsd:sequence>
									  				</xsd:complexType>
										  		</xsd:element> <!-- Total -->
		                              		</xsd:sequence>	
		                              		<xsd:attribute name="operationAllowed" type="xsd:string"/> <!-- Not Used -->
		                              		<xsd:attribute name="quoteStatus" type="xsd:string" use="optional"/> <!-- Not Used -->
						  				</xsd:complexType>
						  			</xsd:element>
					  			
									<xsd:element name="ItemIn" maxOccurs="unbounded">
										<xsd:complexType>
									  		<xsd:sequence>
									  			<xsd:element ref="ItemID"/>
									  			<xsd:element name="ItemDetail">
									  				<xsd:complexType>
									  					<xsd:sequence>
									  						<xsd:element ref="UnitPrice"/>
									  						<xsd:element ref="Description"/>
															<xsd:element name="UnitOfMeasure" type="uomType" />
									  						
									  						<xsd:element name="Classification" maxOccurs="unbounded">
															  	<xsd:complexType>
															  		<xsd:simpleContent>
																		<xsd:extension base="zeroToThirtyCharType">
																			<xsd:attribute name="domain" type="oneToTwentyOneCharType" />
															  			</xsd:extension>
															  		</xsd:simpleContent>
															  	</xsd:complexType>
															</xsd:element> <!-- Classification -->
															<xsd:element name="ManufacturerPartID" type="oneToTwentyOneCharType" minOccurs="0"/>
															<xsd:element name="ManufacturerName" type="zeroToFiftyFiveCharType" minOccurs="0"/>
															<xsd:element ref="Extrinsic" maxOccurs="unbounded"/>
									  					</xsd:sequence>
									  				</xsd:complexType>	
									  			</xsd:element> <!-- ItemDetail -->
									  			<xsd:element name="SupplierID" minOccurs="0" maxOccurs="unbounded"> <!-- Not used -->
									  				<xsd:complexType>
												 		<xsd:simpleContent>
															<xsd:extension base="zeroToNinetyCharType">
																<xsd:attribute name="domain" type="zeroToTwentyCharType" />
												 			</xsd:extension>
												 		</xsd:simpleContent>
												 	</xsd:complexType>
									  			</xsd:element> <!-- SupplierID -->
									  		</xsd:sequence>
									  		<xsd:attribute name="quantity" type="xsd:unsignedInt"/>
									  	</xsd:complexType>	
									</xsd:element> <!-- ItemIn -->
									</xsd:sequence>
					  		</xsd:complexType>	
						</xsd:element>  <!-- PunchOutOrderMessage -->
					</xsd:sequence>
					<xsd:attribute name="deploymentMode" type="xsd:string" use="optional"/>
				</xsd:complexType>	
			</xsd:element> <!-- Message -->
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" use="optional"/>
      <xsd:attribute ref="xml:lang" use="optional" />
      <xsd:attribute name="timestamp" type="xsd:string" use="required" />
      <xsd:attribute name="payloadID" type="xsd:string" use="required" />
	</xsd:complexType>
</xsd:element>
</xsd:schema>
