kfs-web/src/main/webapp/static/xsd/pdp/prepaidChecks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
    targetNamespace="http://www.kuali.org/kfs/pdp/prepaidChecks"
    xmlns="http://www.kuali.org/kfs/pdp/prepaidChecks" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- simple data types -->    
    <xsd:simpleType name="versionType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="1.0"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="oneToTwentyFiveCharType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="oneAlphaType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>
        
    <!-- definition of simple type elements -->
    <xsd:element name="chart" type="xsd:normalizedString"/>
    <xsd:element name="unit" type="xsd:normalizedString"/>
    <xsd:element name="sub_unit" type="xsd:normalizedString"/>
    <xsd:element name="creation_date" type="xsd:normalizedString"/>
    <xsd:element name="source_doc_nbr" type="xsd:normalizedString"/>
    <xsd:element name="invoice_nbr" type="xsd:normalizedString"/>
    <xsd:element name="po_nbr" type="xsd:normalizedString"/>
    <xsd:element name="req_nbr" type="xsd:normalizedString"/>
    <xsd:element name="org_doc_nbr" type="xsd:normalizedString"/>
    <xsd:element name="payee_name" type="xsd:normalizedString"/>
    <xsd:element name="payee_own_cd" type="xsd:normalizedString"/>
    <xsd:element name="customer_institution_identifier" type="xsd:normalizedString"/>
    <xsd:element name="address1" type="xsd:normalizedString"/>
    <xsd:element name="address2" type="xsd:normalizedString"/>
    <xsd:element name="address3" type="xsd:normalizedString"/>
    <xsd:element name="address4" type="xsd:normalizedString"/>
    <xsd:element name="city" type="xsd:normalizedString"/>
    <xsd:element name="state" type="xsd:normalizedString"/>
    <xsd:element name="zip" type="xsd:normalizedString"/>
    <xsd:element name="country" type="xsd:normalizedString"/>
    <xsd:element name="campus_address_ind" type="xsd:normalizedString"/>
    <xsd:element name="payment_date" type="xsd:normalizedString"/>
    <xsd:element name="invoice_date" type="xsd:normalizedString"/>
    <xsd:element name="attachment_ind" type="xsd:normalizedString"/>
	<xsd:element name="immediate_ind" type="xsd:normalizedString"/>
    <xsd:element name="special_handling_ind" type="xsd:normalizedString"/>
    <xsd:element name="taxable_ind" type="xsd:normalizedString"/>
    <xsd:element name="orig_invoice_amt" type="xsd:decimal"/>
    <xsd:element name="net_payment_amt" type="xsd:decimal"/>
    <xsd:element name="invoice_tot_discount_amt" type="xsd:decimal"/>
    <xsd:element name="invoice_tot_ship_amt" type="xsd:decimal"/>
    <xsd:element name="invoice_tot_other_debits" type="xsd:decimal"/>
    <xsd:element name="invoice_tot_other_credits" type="xsd:decimal"/>
    <xsd:element name="nra_ind" type="xsd:normalizedString"/>
    <xsd:element name="combine_group_ind" type="xsd:normalizedString"/>
    <xsd:element name="coa_cd" type="xsd:normalizedString"/>
    <xsd:element name="account_nbr" type="xsd:normalizedString"/>
    <xsd:element name="sub_account_nbr"  type="xsd:normalizedString"/>
    <xsd:element name="object_cd" type="xsd:normalizedString"/>
    <xsd:element name="sub_object_cd" type="xsd:normalizedString"/>
    <xsd:element name="org_ref_id" type="xsd:normalizedString"/>
    <xsd:element name="project_cd" type="xsd:normalizedString"/>
    <xsd:element name="amount" type="xsd:normalizedString"/>
    <xsd:element name="payment_text" type="xsd:normalizedString"/>
    <xsd:element name="detail_count" type="xsd:integer"/>
    <xsd:element name="detail_tot_amt" type="xsd:decimal"/>
    <xsd:element name="bank_code" type="xsd:normalizedString"/> 
    <xsd:element name="fs_origin_cd" type="xsd:normalizedString"/> 
    <xsd:element name="fdoc_typ_cd"  type="xsd:normalizedString"/>
    <xsd:element name="disbursement_date" type="xsd:normalizedString"/>
    <xsd:element name="disbursement_number" type="xsd:normalizedString"/>
    <xsd:element name="pmt_stat_cd" type="xsd:normalizedString"/> 
    
    <!-- definition of attributes -->
    
    <!-- definition of complex type elements -->
    <xsd:element name="pdp_file">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="header"/>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="group"/>
                <xsd:element ref="trailer"/>
            </xsd:sequence>
            <xsd:attribute name="version" type="versionType" use="required"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="accounting">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="coa_cd"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="account_nbr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="sub_account_nbr"/>
                <xsd:element ref="object_cd"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="sub_object_cd"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="org_ref_id"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="project_cd"/>
                <xsd:element ref="amount"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="header">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="chart"/>
                <xsd:element ref="unit"/>
                <xsd:element ref="sub_unit"/>
                <xsd:element ref="creation_date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="trailer">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="detail_count"/>
                <xsd:element ref="detail_tot_amt"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="group">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="payee_name"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="payee_id"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="payee_own_cd"/>
                <xsd:element ref="address1"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="address2"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="address3"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="address4"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="city"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="state"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="zip"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="country"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="campus_address_ind"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="payment_date"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="attachment_ind"/>
				<xsd:element maxOccurs="1" minOccurs="0" ref="immediate_ind"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="special_handling_ind"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="taxable_ind"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="nra_ind"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="combine_group_ind"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="bank_code"/>
                <xsd:element ref="disbursement_date"/>
                <xsd:element ref="disbursement_number"/>
                <xsd:element ref="pmt_stat_cd"/>
                <!--  Default check stub holds 27 note lines.  There is a line printed for each detail
                      so the number of detail items on a check needs to be subtracted from the 
                      total allowed note lines.  This can't be enforced in the schema so it is possible
                      to provide too many note lines in some cases.  This rule will be enforced in
                      code. 
                      
                      Because of this, the maximum number of detail segments is 27 (assuming they 
                      have no notes).
                      
                      If your check stub holds more or less than 27 note lines, you need to change this,
                      the maximum number of detail segments in this file and the setting MAX_NOTE_LINES
                      in the application settings file.
                      -->
                <xsd:element maxOccurs="5000" minOccurs="1" ref="detail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="detail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="source_doc_nbr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="invoice_nbr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="po_nbr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="req_nbr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="org_doc_nbr"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="customer_institution_identifier"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="invoice_date"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="orig_invoice_amt"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="net_payment_amt"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="invoice_tot_discount_amt"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="invoice_tot_ship_amt"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="invoice_tot_other_debits"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="invoice_tot_other_credits"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="fs_origin_cd"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="fdoc_typ_cd"/>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="accounting"/>
                <!--  Default check stub holds 27 note lines.  There is a line printed for each detail
                      so the number of detail items on a check needs to be subtracted from the 
                      total allowed note lines.  This can't be enforced in the schema so it is possible
                      to provide too many note lines in some cases.  This rule will be enforced in
                      code. 
                      
                      Because of this, the maximum note lines a detail can have is 26 (assuming there
                      is only one detail in the payment group).
                      
                      If your check stub holds more or less than 27 note lines, you need to change this,
                      the maximum number of detail segments in this file and the setting MAX_NOTE_LINES
                      in the application settings file.
                      -->
                <xsd:element maxOccurs="5000" minOccurs="0" ref="payment_text"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="payee_id">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="oneToTwentyFiveCharType">
                    <xsd:attribute name="id_type" type="oneAlphaType" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>
